---
layout: default
---
<main>
    <p class="page-description">{{ page.description }}</p>
    <div class="game">
      <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" tabindex=-1></canvas>
    </div>
</main>
<script type='text/javascript'>
  var Module = {
    canvas: (() => {
      var canvas = document.getElementById('canvas');
      canvas.addEventListener("webglcontextlost", (e) => { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);
      return canvas;
    })(),
  };
</script>
<script async type="text/javascript" src="game.js"></script>
